<div data-search--search-target="categoryModal" data-action="click->search--search#closeCategory" class="hidden animated fixed inset-0 overflow-y-auto flex items-center justify-center bg-gray-800 bg-opacity-50" style="z-index: 9999;">
  <!-- Modal Inner Container -->
  <div class="max-h-screen w-full max-w-xl relative">
    <!-- Modal Card -->
    <div class="m-1 bg-transparent rounded grid grid-cols-2 md:grid-cols-3 gap-5 px-5">
      <% Category.all.each_with_index do |cat, i| %>
        <div class="flip h-36" data-search--search-target='categoryCards' data-action='click->search--search#chooseCategory' data-category='<%= cat.name%>'>
          <div class='flip-content h-full <%= "delay-#{i * 50}" %>'  >
            <div class="flip-front bg-yellow border-darkgreen category-card h-full relative" >
              <div class='absolute w-full h-full' data-category='<%= cat.name%>'></div>
              <%= render Category::Icon.new(cat) %>
              <p>
                <%= cat.name %>
              </p>
            </div>
            <div class="flip-back bg-darkgreen border-darkgreen category-card  h-full w-full">

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex justify-center items-center flex-wrap mt-6">
      <button class="bg-darkgreen text-yellow font-bold py-2 px-4 rounded" data-action="click->search--search#chooseCategory" data-category='All categories'>Cancel</button>
    </div>
  </div>
</div>
