<div class='h-v1/2 md:h-v3/4 bg-cover bg-center bg-no-repeat' style='background-image:  url(<%= @place.banner_url %>)'>
</div>
<div class='container px-4 md:px-0 mx-auto grid grid-cols-12 gap-8 -mt-8 md:-mt-12'>
  <div class='col-span-12 md:col-span-8'>
    <div class='text-center bg-white py-2 md:py-4 flex-col shadow-md items-center justify-center rounded-xl w-full'>
      <h1 class='text-darkgreen font-title text-xl md:text-4xl md:mb-2'>
        <%= @place.name %>
      </h1>
      <h6 class='text-yellow md:text-xl text-base font-sans'>
        <%= @place.category.name %>
      </h6>
    </div>
    <div class="md:hidden mt-4">
      <%= render 'side', place: @place %>
    </div>
    <div class='grid mt-4 md:mt-8 gap-2 grid-cols-5 md:grid-cols-7 xl:grid-cols-12 font-bold text-lg'>
      <a class='text-green' href='#about'>About</a>
      <a href='#gallery'>Gallery</a>
      <a href='#reviews'>Reviews</a>
      <a href='#map'>Map</a>
    </div>
    <div id="about" class='mt-8'>
      <h3 class='section-title'>
        About
      </h3>
      <p class='mt-4'>
        <%= @place.story %>
      </p>
      <div class='flex-col items-center md:items-end flex md:flex-row md:text-left text-center mt-8'>
        <div class="avatar" style='background-image:  url(<%= @place.user.photo.url %>)'>
        </div>
        <div class="text md:ml-4">
          <p class='text-opacity-80 text-black'>
            Owned by
          </p>
          <h6 class='font-bold text-lg'>
            <%= @place.user.full_name %>
          </h6>
        </div>
      </div>
      <p class='mt-2 text-center md:text-left'>
        <%= @place.user.about %>
      </p>
    </div>
    <div id="gallery" class='mt-8'>
      <h3 class='section-title'>
        Gallery
      </h3>
      <div class="h-44 md:h-60 flex overflow-x-scroll mt-4 whitespace-nowrap">
        <% @place.photos.each do |photo| %>
          <div class='flex-shrink-0 h-full w-44 md:w-60 rounded bg-cover mr-4' style='background-image: url(<%= cl_image_path photo.key %>) '>
          </div>
        <% end %>
      </div>
    </div>
    <div id="reviews" class='mt-8'>
      <h3 class='section-title'>
        Reviews
      </h3>
      <p>
        <% @place.reviews.order(created_at: :desc).each do |review| %>
          <div class="shadow-md rounded mt-4 p-2">
            <div class="flex font-bold">
              <p> John  Abidbol </p>
              <div class="flex ml-4 items-center">
                <%= review.rating %>
                <i class='fas fa-star fa-lg text-yellow ml-1'></i>
              </div>
            </div>
            <p>
              <%= review.content %>
            </p>
          </div>
        <% end %>
      </p>
    </div>
  </div>
  <div class="col-span-4 h-48 bg-white shadow-md rounded-xl hidden md:flex flex-col items-center p-4">
    <%= render 'side', place: @place %>
  </div>
</div>

