<!DOCTYPE html>
<html>
  <head>
    <title>Amandla</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% contained = !(['pages#home', 'places#index'].include? "#{controller_name}##{action_name}") %>
    <%= render 'shared/navbar', transparent: action_name == 'home', contained: contained %>
    <%= render 'shared/flashes' %>
    <div class="<%= contained && 'content-container' %>">
      <%= yield %>
    </div>
  </body>
</html>
